html{
  font-family:sans-serif;
}

body {
  background-color: rgb(170, 146, 96);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  margin:0;
  display:flex;
  flex-direction:column;
}

header{
  width:100%;
  height:50px;
  background-color:rgb(70, 23, 70);
  padding-top:-10px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
  font-weight:600;
  /* margin:0;
  padding:0; */
}

#container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  flex:1;
  align-content:center;

}

#container > div:nth-child(16n+1) {
  width: 100%;
  border: 0;
  height: 0;
}

.gridItem{
  display:flex;
  /* flex-direction:row; */
  /* flex-wrap:wrap; */
  /* justify-content:center;
  align-items:center; */
  width:30px;
  height:30px;
  background-color:white;
  border-color:white;
  /* border-style:solid;
  border-width:1px; */

}

footer{
  width:100%;
  height:50px;
  background-color:rgb(70, 23, 70);
  padding-top:-10px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
  font-weight:600;
}