html{
  font-family:sans-serif;
  text-shadow: 1px 1px black;
}

body {
  background-color: rgb(170, 146, 96);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  min-height:100vh;
  margin:0;
  display:flex;
  flex-direction:column;
}

header{
  width:100%;
  height:50px;
  background-color:rgb(70, 23, 70);
  padding-top:-10px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
  font-weight:600;
}

#container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  flex:1;
  max-width:600px;
  max-height:600px; 
  overflow:hidden;
}


.gridItem{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap; 
  box-sizing:border-box;
  background-color:white;
  border-color:black;
  border-style:solid;
  border-width:1px; 
  flex:0 0 auto;
}

.gridItem:hover{
  background-color: greenyellow;
}

footer{
  width:100%;
  height:50px;
  background-color:rgb(70, 23, 70);
  padding-top:-10px;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:24px;
  font-weight:600;
}

#btn{
  display:flex;
  justify-content:center;
  flex:0;
  width:100px;
  font-size:20px;
  background-color:rgb(134, 104, 104);
  color:white;
  border-color:black;
  border-radius:1px;
  color:white;
  text-shadow: 1px 1px black;
}